[test_info]
comment = simple trx ordering test

[test_command]
command = ./gentest.pl --gendata=conf/drizzle/translog_ordering.zz --grammar=conf/drizzle/translog_ordering.yy --Reporter=DrizzleTransactionLog --threads=5  --queries=75

[test_servers]
servers = [[--innodb.replication-log=true],[--plugin-add=slave --slave.config-file=$MASTER_SERVER_SLAVE_CONFIG]]
